<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <rewrite>
        <rules>
            <rule name="SpecificRewrite" stopProcessing="true">
                <match url="^(.*)$" />
                <action type="Rewrite" url="/dev/index.html" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
  
</configuration>